<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
    </head>
    <body>
        
        <header>
            <h1>MY SUPER BLOG OF THE DEATH</h1>
            <nav>
                <a href="/">home</a>
                <a href="/stories">stories</a>
                <% if (isLogged) { %>
                    <a href="/user/dashboard"><%= alias %>'s dashboard</a>
                    <a href="/user/entry?sign=out">sign out</a>
                 
                <% } else { %>
                    <a href="/user/entry?sign=in">sign in/up</a>
                <% } %>
            </nav>
        </header>

        <%- include(template) %>
        
    </body>
</html>